.footer,
.footer * {
    box-sizing: border-box;
}
.footer {
    background: #7c7c84;
    padding: 20px 34px 20px 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}
.reseaux {
    padding: 0px 14px 0px 14px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.les-mentions-l-gales {
    color: #ffffff;
    text-align: center;
    font-family: "NotoSans-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}